<!-- <h1>Pictogram</h1> -->

<!-- <div class="form-group">
  <label>Select pictogram</label>
  <%#= file_field_tag :pictogram, as: :file, multiple: true %>
</div> -->

<% semantic_form_for [:admin, @category], builder: ActiveAdmin::FormBuilder do |f| %>
<% f.inputs "Details" do %>
<%= f.input :name %>
<% if @category.pictogram.present? %>
<%= image_tag @category.pictogram_url(:thumb), class: "img-thumbnail" %>
<% end %>
<%= f.hidden_field :pictogram, value: @category.cached_pictogram_data %>
<div class="form-group">
  <label>Select pictogram</label>
  <%= f.file_field :pictogram, multiple: true %>
</div>
<%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>
<% end %>