<%# content_for :title, @category.name %>
<% unless @category.posts.blank? %>
<div class="row post-header">
  <div class="col-xs-12 col-md-12 subtitle text-center">
    <%= "#{@category.name} Videos" %>
  </div>
</div>
<div class="box-block">
  <div class="row">
    <% @category.posts.each do |post| %>
    <% cache post do %>
    <div class="col-xs-12 col-md-6 text-center">
      <% if post.languages.empty? %>
      <div>
        <%= link_to post.title, language_category_post_path(@category, post, 'en') %>
      </div>
      <% end %>
      <% post.languages.each do |language| %>
      <% if post.child_by_language(language) %>
      <div>
        <%= link_to post.child_by_language(language).title, language_category_post_path(@category, post, language) %>
      </div>
      <% end %>
      <% end %>
      <% if !post.languages.empty? && !post.languages.include?('en') %>
      <div><%= link_to post.title, language_category_post_path(@category, post, 'en') %></div>
      <% end %>
      <div>
        <% if post.video_url(:screenshot).present? %>
        <%= image_tag(post.video_url(:screenshot), height: '225', width: '300') %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>