<%# content_for :title, @category.name %>
<% unless @category.posts.blank? %>
<!-- <div class="row post-header">
  <div class="col-xs-12 col-md-12 subtitle text-center dark-text">Videos</div>
</div> -->
<div class="box-block">
  <div class="row">
    <% @category.posts.each do |post| %>
    <% cache post do %>
    <div class="col-xs-12 col-md-6 text-center">
      <% if post.languages.empty? %>
      <div>
        <%= link_to post.title, language_category_post_path(@category, post, 'en') %>
      </div>
      <% end %>
      <% post.languages.each do |language| %>
      <% if post.child_by_language(language) %>
      <div>
        <%= link_to post.child_by_language(language).title, language_category_post_path(@category, post, language) %>
      </div>
      <% end %>
      <% end %>
      <% if !post.languages.empty? && !post.languages.include?('en') %>
      <div><%= link_to post.title, language_category_post_path(@category, post, 'en') %></div>
      <% end %>
      <div>
        <% if post.video_url(:screenshot).present? %>
        <%= image_tag(post.video_url(:screenshot), height: '225', width: '300') %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<% end %>

<% unless @category.documents.blank? %>
<div class="box-block">
  <div class="row post-header">
    <div class="col-xs-12 col-md-12 subtitle text-center">Downloads</div>
  </div>
  <% @category.documents.each do |doc| %>
  <% cache doc do %>
  <div class="row">
    <span class="col-xs-12 col-md-4">
      <strong><%= link_to doc.title, document_path(doc) %></strong>
    </span>
    <span class="col-xs-12 col-md-8">
      <%= raw doc.description %>
    </span>
  </div>
  <% end %>
  <% end %>

  <% unless @category.pages.blank? %>
  <div class="row post-header">
    <div class="col-xs-12 col-md-12 subtitle text-center">External Resources</div>
  </div>
  <% @category.pages.each do |page| %>
  <% cache page do %>
  <div class="row">
    <span class="col-xs-12 col-md-4">
      <strong><%= link_to page.title, page_path(page) %></strong>
    </span>
    <span class="col-xs-12 col-md-8">
      <%= truncate page.text, escape: false %>
    </span>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
<% end %>