<h3 class="bd-title text-center">
  <%= @post.child_by_language(@language).try(:title) || @post.title %>
</h4>
<div class="box-block">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if @post.video_url(:video) && @post.video.respond_to?(:[])  %>
      <div class="embed-responsive embed-responsive-4by3">
        <video class="embed-responsive-item" controls crossorigin>
          <source src="<%= @post.video_url(:video) %>" type="<%= @post.video[:video].mime_type %>">
          <% @post.subtitles.each do |subtitle| %>
            <% if subtitle.present? %>
              <track
              label="<%= get_language(subtitle.language) %>"
              kind="subtitles"
              srclang="<%= subtitle.language %>"
              src="<%= subtitle.subtitle_url %>"
              default="true">
            <% end %>
          <% end %>
        </video>
      </div>
      <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center mb-1">
          <% (@post.languages - [@language]).each do |lang| %>
          <%= link_to get_language(lang), language_category_post_path(@category, @post, lang),
          class: 'bg-info text-white p-1 m-1' %>
          <% end %>
        </div>
        <% @translations.each do |translation| %>
        <% cache translation do %>
        <% if translation.audio.present? %>
        <div class="card mb-2">
          <div class="card-block">
            <div class="row col-xs-12">
              <audio controls>
                <source src="<%= translation.audio_url %>" type="<%= translation.audio.metadata['mime_type'] %>"/>
                </audio>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
          <% end %>
          <% @transcripts.each do |transcript| %>
          <% cache transcript do %>
          <div class="card transcript-box">
            <div class="card-block">
              <%= transcript.text.html_safe %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
