<%# content_for :title, @category.name %>
<div class="post-header">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="post-title dark-text">
        <%= @post.child_by_language(@language).try(:title) || @post.title %>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="text-info text-right">
        <% (@post.languages - [@language]).each do |lang| %>
        <div class="btn btn-outline-secondary">
          <%= link_to get_language(lang), language_category_post_path(@category, @post, lang) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="box-block">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if @post.video_url(:video) %>
      <div class="flowplayer custom-subtitles fp-playful" data-ratio="0.5625" data-embed="false" data-facebook="true">
        <video controls crossorigin>
          <source src="<%= @post.video_url(:video) %>" type="<%= @post.video[:video].mime_type %>">
          <% if @post.subtitle.present? %>
          <track label="English" kind="subtitles" srclang="en" src="<%= @post.subtitle_url %>" default="true">
            <% end %>
          </video>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <% @translations.each do |translation| %>
        <% cache translation do %>
        <% if translation.audio.present? %>
        <div class="card mb-2">
          <div class="card-block">
            <div class="row col-xs-12">
              <audio controls>
                <source src="<%= translation.audio_url %>" type="<%= translation.audio.metadata['mime_type'] %>"/>
              </audio>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
        <% @transcripts.each do |transcript| %>
        <% cache transcript do %>
        <div class="card transcript-box">
          <div class="card-block">
            <%= transcript.text.html_safe %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>