<% content_for :title, @category.name %>
<div class="row post-header">
  <div class="col-xs-12 col-md-7">
    <div class="post-title">
      <%= @translations.try(:first).try(:title) %>
    </div>
  </div>
  <div class="col-xs-12 col-md-5">
    <div class="text-info text-right">
      <% (@post.languages - [@translations.try(:first).try(:language)]).each do |lang| %>
      <div class="btn btn-outline-info">
        <%= link_to get_language(lang), category_post_path(@category, @post, language: lang) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="box-block">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="flowplayer custom-subtitles fp-playful" data-ratio="0.5625" data-embed="false" data-facebook="true">
        <video controls crossorigin>
          <source src="<%= @post.video.url(:medium) %>" type="<%= @post.video_content_type %>">
          <track label="English" kind="subtitles" srclang="en" src="<%= @post.subtitle.url %>" default="true"></video>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <% @translations.each do |translation| %>
        <div class="card mb-2">
          <div class="card-block">
            <div class="row col-xs-12">
              <audio controls>
                <source src="<%= translation.audio.url %>" type="<%= translation.audio_content_type %>"/>
              </audio>
            </div>
          </div>
        </div>
        <% end %>
        <% @transcripts.each do |transcript| %>
        <div class="card transcript-box">
          <div class="card-block">
            <%= transcript.text.html_safe %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>