<!DOCTYPE html>
<html>
  <head>
    <title>Hel\LO Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_path( 'logo.png' ) %>" class="img-fluid">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              <a class="nav-link" href="#">Videos</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              <a class="nav-link" href="<%= documents_path %>">Documents</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              <a class="nav-link" href="#">Links</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              <a class="nav-link" href="#">About</a>
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="page-title text-center">
      <%= yield(:title) %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="separator"></div>

    <footer class="footer">
      <div class="container">
        <div class="text-center text-muted"><%= raw "Copyright #{Time.current.year} HEL&#92;LO PROJECT" %></div>
      </div>
    </footer>
  </body>
</html>