<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <h1 class="container">
        <%= link_to 'The Hello Project', root_path %>
      </h1>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">Footer Content</div>
    </footer>
  </body>
</html>