<!DOCTYPE html>
<html>
  <head>
    <title>Hello Durham</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <!-- <img src="<%#= asset_path( 'logo.png' ) %>"> -->
        Hello Durham
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="<%= documents_path %>">Documents</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="page-title text-center">
      <%= yield(:title) %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Footer Content</span>
      </div>
    </footer>
  </body>
</html>